@model BusinessLogic.DTOs.Task.TaskDTO

<link rel="stylesheet" href="~/css/assets/Task.css" asp-append-version="true" />


<div class="task-card">
    <div class="up-row-container">
        @Html.Partial("_Priority", Model.Priority)
        <p class="date">
            @Model.CreatedAt.ToString("dd MMMM yyyy, HH:mm")
        </p>
    </div>
    <div class="main">
        <h3 class="title">@Model.Title</h3>
        <p class="desc">@(Model.Description.Length > 40 ? Model.Description.Substring(0, 40) + "..." : Model.Description)</p>
        <div class="row-container">
            <strong class="m-2">Tags:</strong>
            @foreach (var tag in Model.Tags)
            {
                @Html.Partial("_Tag", tag)
            }
        </div>
    </div>
</div>
