@model TasklySolution.Presentation.Models.AddTaskViewModel

<link rel="stylesheet" href="~/css/TasksPage/AddTask.css" />

<div class="container">
    <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">Task Creator
            <img src="~/Taskly_ico.svg" alt="Taskly Logo" class="me-2">

        </h2>

        <form asp-controller="Tasks" asp-action="AddTask" method="post">
            <div class="mb-3">
                <label for="titleInput" class="form-label fw-bold">Title</label>
                <input type="text" class="form-control" id="titleInput" name="Title" required placeholder="Enter task title">
            </div>

            <div class="mb-3">
                <label for="descInput" class="form-label fw-bold">Description</label>
                <textarea class="form-control" id="descInput" name="Description" rows="3" placeholder="Enter task description"></textarea>
            </div>

            <div class="mb-3">
                <label for="dueDateInput" class="form-label fw-bold">Due Date</label>
                <input type="date" class="form-control" id="dueDateInput" name="DueDate">
            </div>

            <div class="mb-3">
                <label class="fw-bold">Priority</label>
                <div class="custom-dropdown">
                    <button id="selected-priority">Select</button>
                    <div class="dropdown-list" id="priorities-list">
                        @foreach (var priority in Model.Priorities)
                        {
                            <div class="custom-priority" data-id="@priority.Id" data-color="@priority.ColorHash">
                                <span class="priority-dot" style="background-color: @priority.ColorHash"></span>
                                @priority.Title
                            </div>
                        }
                    </div>
                </div>
                <input type="hidden" id="priorityId" name="PriorityId" required/>

            </div>

            <div class="mb-3">
                <label class="fw-bold">Tags:</label>
                <div class="custom-multiselect">
                    <button type="button" class="select-btn" id="select-tag">Select Tags</button>
                    <div class="dropdown-list" id="tags-list">
                        @foreach (var tag in Model.Tags)
                        {
                            <label class="custom-option">
                                <input type="checkbox" name="TagIds" value="@tag.Id" />
                                @Html.Partial("_Tag", tag)
                            </label>
                        }
                    </div>
                </div>
            </div>


            <div class="d-grid">
                <button type="submit" class="btn btn-lg">Add Task</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/AddTask.js"/>